<MudNavMenu>  
	<MudTreeView T="string">  
		@foreach (var svc in Services)  
		{  
			<MudTreeViewItem Text="@svc">  
				<MudDropZone T="DropItemBase"  
                             CanDrop="@((item) => false)"
							 Identifier="@svc"  
							 Class="pa-2 mud-elevation-1">  
					<ItemRenderer>  
						<MudDynamicDropItem T="DropItemBase" Item="@context" DraggingClass="mud-primary-text mud-border-primary">  
							<div>  
								@context.Name  
							</div>  
						</MudDynamicDropItem>  
					</ItemRenderer>	  
				</MudDropZone>
			</MudTreeViewItem>
		}  

		<MudTreeViewItem Text="Logic">
			<MudDropZone T="DropItemBase"
						 CanDrop="@((item) => false)"
						 Identifier="Logic"
						 Class="pa-2 mud-elevation-1">
				<ItemRenderer>
					<MudDynamicDropItem T="DropItemBase" Item="@context" DraggingClass="mud-primary-text mud-border-primary">
						<div>
							@context.Name
						</div>
					</MudDynamicDropItem>
				</ItemRenderer>
			</MudDropZone>
		</MudTreeViewItem>
	</MudTreeView>  
</MudNavMenu>  

@code  
{  
	private string[] Services = { "ServiceA", "ServiceB", "ServiceC" };  
}
